
<form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=terminus2049', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
  <input type="email" name="email" placeholder="邮箱" style="line-height:2; min-width:220px;" required/>
  <input type="hidden" value="terminus2049" name="uri"/><input type="hidden" name="loc" value="en_US"/>
<button type="submit" style="line-height:2;">邮件订阅</button>
</form>

</br>

{% include svg-icons.html %}

{% if site.footer-text %}
<p>{{ site.footer-text }}</p>
{% endif %}
