    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <meta name="twitter:card" content="summary" />
    <mata property="og:image" content="{{site.url}}{{ site.baseurl }}/images/404.jpg">
    <meta name="twitter:image" content="{{site.url}}{{ site.baseurl }}/images/404.jpg" />
    <meta name="twitter:domain" content="https://info-cn.github.io/Terminus/">

    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    {% seo title=false %}
