---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <hr style="border-top:1px solid #28323C;"/>
	<p>评论请前往 <a href="http://2049bbs.xyz/">2049BBS.xyz</a></p>
	<div class="social-share" data-disabled="linkedin,diandian,tencent,facebook"></div>

  <script> pangu.spacingPage(); </script>

  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.baseurl }}{{ page.previous.url }}">
            上一篇：{{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.baseurl }}{{ page.next.url }}">
            下一篇：{{ page.next.title }}
          </a>
      </span>
    {% endif %}
  </div>

</article>
