---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.baseurl }}/tags.html#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
      <a href="https://github.com/Terminus2049/Terminus2049.github.io/edit/master/{{ page.path }}">点此纠错</a>
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <hr style="border-top:1px solid #28323C;"/>

  <font size=2px>
	   <p>评论请前往 <a href="https://2049bbs.xyz/">2049BBS.xyz</a>（<span style="color:red">已被墙</span>）</p>
  </font>

	<div class="social-share" data-disabled="linkedin,diandian,tencent,facebook"></div>

  <font size=2px><span style="color:red">
    本站已被屏蔽</span>，分享到墙内时请转本文的 GitHub 原始页面 <a href="https://github.com/Terminus2049/Terminus2049.github.io/blob/master/{{ page.path }}">{{ page.title }}</a>，或者查看可直连的镜像 <a href="{{ site.baseurl }}/about.html">网站</a>。
    <br>
    文章版权归原作者所有。此处收录仅供存档研究，不代表本站立场。
  </font>

  <script> pangu.spacingPage(); </script>

  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.baseurl }}{{ page.previous.url }}">
            上一篇：{{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.baseurl }}{{ page.next.url }}">
            下一篇：{{ page.next.title }}
          </a>
      </span>
    {% endif %}
  </div>

  <div
    class="just-comments"
    data-allowguests="true"
    data-locale="zh_CN"
    data-apikey="788c3b20-e7f4-4d66-9b47-c4f80ef4ccd0">
  </div>
  <script async src="https://just-comments.com/w.js"></script>

</article>
